/* Stylesheet for My First Website - Just Messing Around */

body {
    margin: 40px;
    color: #101828;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 800;
    }

p {
    font-weight: 500;
}

p:hover {
    background-color:aliceblue;
}

/* I centered the image of the dog but don't understand why this is so
challenging or why the display: block; is necessary */

#dog-photo {
    position: relative;
    height: 200px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Line Separator in between sections */

.line-separator {
    height: 2px;
    width: 100%;
    background-color: #101828;
    margin: 10px 0px;    
}

/* Navigation Buttons */

.nav-button {
    background-color: #101828;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    margin: 1rem;
    display: inline-block;
}

.nav-button:hover {
    size-adjust: 105%;
}

.btn-parent {
    text-align: center;
}

/* Markdown Code */

.md-code-block {
    background-color: #1e1e1e;
    color: #d4d4d4;
    font-family: 'Courier New', Courier, monospace;
    padding: 18px;
    border-radius: 8px;
    overflow-x: auto;
    line-height: 1.5; 
}

.md-code-inline {
    background-color: #1e1e1e;
    color:#d4d4d4;
    font-family: 'Courier New', Courier, monospace;
    padding: 0.25rem 0.5rem;
    display: inline-block;
    margin: 5px;
    border-radius: 0.25rem;
}

.selector {
    color: #d7ba7d;
    display: inline;
}

.property {
    color: #79dcef; 
    display: inline;
}

.value {
    color: #ce9178;
    display: inline;
}

.comment {
    color: #8b949e;
    display: inline;
}